<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>No History</title>
    <style type="text/css" rel="stylesheet">
        h1{
            font-size:30px;
            text-align: center;
        }
        .some{
            position: absolute;
            top:20%;
            left:50%;
            transform:translate(-50%,-50%);
            padding:10px 20px;
        }
    </style>
</head>
<body>
    <h1>You Have Nothing Till date .!</h1>
    <div class="some">
        <form action="/after_user_login">
            <button>MY Home</button>
        </form>
    </div>
</body>
</html>